<?xml version="1.0"?>
<launch>

    <arg name="arm" />
    <arg name="end_effector" />
    <arg name="ft_sensor" />
    <arg name="laser_model" />
    <arg name="camera_model" />
    <arg name="robot_namespace" default="" />
    <arg name="use_moveit_camera" default="false" />
    <arg name="base_type" default="pmb2" />
    <arg name="base_type_suffix" value="" unless="$(eval arg('base_type') == 'omni_base')" />
    <arg name="base_type_suffix" value="_omni" if="$(eval arg('base_type') == 'omni_base')" />

    <!-- Joint trajectory and diff drive controllers -->
    <rosparam command="load" file="$(find tiago_controller_configuration_mujoco)/config/mobile_base_controller$(arg base_type_suffix).yaml" />
    <include file="$(find tiago_controller_configuration_mujoco)/launch/tiago_controllers.launch" >
        <arg name="arm" value="$(arg arm)" />
        <arg name="end_effector" value="$(arg end_effector)" />
        <arg name="ft_sensor" value="$(arg ft_sensor)" />
        <arg name="laser_model" value="$(arg laser_model)" />
        <arg name="camera_model" value="$(arg camera_model)" />
        <arg name="use_moveit_camera" value="$(arg use_moveit_camera)" />
        <arg name="robot_namespace" value="$(arg robot_namespace)" />
        <arg name="base_type_suffix" value="$(arg base_type_suffix)" />
        <arg name="base_type" value="$(arg base_type)" />
        <arg name="public_sim" value="True" />
        <arg name="advanced_grasping" value="False" />
    </include>

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="$(arg robot_namespace)" />
        <param name="tf_static" type="string" value="" />
        <param name="use_tf_static" type="bool" value="true" />
    </node>

    <!-- TF lookup -->
    <node pkg="tf_lookup" type="tf_lookup" name="tf_lookup" output="screen" />

    <!-- Twist mux -->
    <include file="$(find tiago_bringup)/launch/twist_mux.launch" />

    <!-- Republish image_raw to image_rect_color to have the same available topic -->
    <node name="image_raw_to_rect_color_relay" pkg="topic_tools" type="relay" args="xtion/rgb/image_raw xtion/rgb/image_rect_color" />

</launch>